<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition>
	<pe:ckEditor id="#{id}" required="true" width="400" height="#{height}" 
		requiredMessage="#{requiredMessage}" value="#{value}"
		customConfig="#{request.contextPath}/resources/js/ckeditor.js"
		toolbar="[['Bold', 'Italic', 'Underline','-', 'Image','-', 'Link', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe']]">
		<p:ajax event="blur" update="editorMessageId" />
	</pe:ckEditor>

	<p:message for="#{id}" id="editorMessageId" />
	<h:outputLabel value="#{request.contextPath}" />
</ui:composition>
</html>