<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head></h:head>
<body>
	<h1>JSF 2.0 + Spring Example</h1>
	<h:form>
		<p:calendar></p:calendar>
	</h:form>
	#{userBean.printMsgFromSpring()}
	<h:form>
		<ui:include src="/pages/editor.xhtml">
			<ui:param name="requiredMessage"
				value="olur oylelee" />
			<ui:param name="value" value="#{ornekSinif.documentation}" />
			<ui:param name="id" value="documentationId" />
			<ui:param name="height" value="400" />
		</ui:include>
	</h:form>
</body>
</html>
